.searchInput input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results {
  margin-top: 20px;
}

.userItem {
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
}

.userItem span {
  font-size: 14px;
  color: #333;
}
